In [1]:
def npc (a,b):
  if a>b:
    return a
  return b

In [7]:
def npc (a,b):
  if a>b:
    print(f" {a} es el mayor")
  else:
    print(b," es el menor")

In [8]:
print(npc(4,5))

5  es el mayor
None

In [ ]:
def mayor (x,y,z):
  npc(x)


**EJERCICIOS**

1.

In [23]:
a=180
b=73
def npc (a,b):
  if a>b:
    return a
  return b
print(npc(a,b))

180

2.

In [21]:
a=28
b=60
c=14
def mayor (a,b,c):
  if a>b and a>c:
    return a
  elif b>c:
    return b
  return c
print(mayor(a,b,c))

60

3.Sumar los números de una lista de 3 elementos

In [24]:
lista=[20,15,5]
def suma (lista):
  sumar=0
  for i in lista:
    sumar=sumar + i
  return sumar
print(suma(lista))

40

4.

In [25]:
lista=[20,15,5,35]
def suma (lista):
  sumar=0
  for i in lista:
    sumar=sumar + i
  return sumar
print(suma(lista))

75

5.

In [29]:
lista=[20,15,5,35,25]
def suma (lista):
  sumar=0
  for i in lista:
    sumar=sumar + i
  return sumar 
print(suma(lista))

100

6.Multiplicar los números de una lista de 3 elementos.

In [33]:
lista=[2,8,10]
def multi (lista):
  base=1
  for i in lista:
    base=base * i
  return base
print(multi(lista))

160

7.Multiplicar los números de una lista de 4 elementos

In [36]:
lista=[2,8,1,2]
def multi (lista):
  base=1
  for i in lista:
    base=base * i
  return base
print(multi(lista))

32

8.Multiplicar todos los números de una lista

In [37]:
lista=[2,8,1,2,5,8,10]
def multi (lista):
  base=1
  for i in lista:
    base=base * i
  return base
print(multi(lista))

12800

9.Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [40]:
word="karina"
def invertir (word):
  palabra=" "
  position=len(word)
  while position > 0:
    palabra=palabra + word[position - 1]
    position=position - 1
  return palabra

print(invertir(word))

 anirak

10.Calcular el factorial de un número

In [44]:
x=int(input("Digita un número "))
def calcular (x):
  for i in range (1,x):
    x=x*i
  return x
print(calcular(x))

Digita un número 0
0

11.Si un número está dentro de un rango.ejemplo 5 (1,4), el cinco esta afuera del rango

In [52]:
x=int(input("Digita un número "))
rango=[1,10]
def num (rango,x):
  return x in range(*rango)
print(num(rango,x))

Digita un número 12
False

12.Capture el número de mayúsculas y minúsculas en una oración.

In [ ]:
frase="Programar Es mi PASIÓN"
def cuenta (frase):
  cantidad={"mayus":0,"minus":0}
  for i in frase:

14.Reciba una lista y retorne sólo los elementos pares

In [ ]:
lista=[]
def pares ():