###Programación Orientada a Objetos

Los parámetros o argumentos se llaman atributos
Cada objeto (datos) ocupa un lugar en la memoria por ende no todos son iguales.
Atributos:Agrupación de datos
Todas las clases necesita un constructor: _init_()
El constructor sabe que estructura va a tener cada objeto.Todos inician con self

POO
Variables: Atributos
Funciones: Metodos
Constructor:Constituye una clase
Objetos:Comparten atributos,metodos,relaciones que tienen identidad propia.

In [3]:
class Mascotas():
  pass #No toma en cuenta el error,lo omite, lo pasa-Como no hay constructor deja ejecutar el codigo

In [4]:
a=Mascotas #a:Objeto Mascotas=Clases
b=Mascotas

In [5]:
if a==b:
  print("Son iguales")
else:
  print("No son igualitos")

Son iguales

In [ ]:
##class Emp():
  #Construyendo un constructor
  def _init_(self)-> None: #La flechita significa que va a devolver nada

In [19]:
class Empleado:
  #Construyendo un constructor
  def __init__(self,nombre,edad,ID,salario):
    self.nombre=nombre
    self.edad=edad
    self.ID=ID
    self.salario=salario

  def __repr__(self):
    return f"nombre:{self.nombre}, edad:{self.edad}, ID:{self.ID}, salario={self.salario}" #Esta función imprime la información para que no salga como abajo

In [21]:
print(sonia)

nombre:Sonia, edad:25, ID:U00157639, salario=10000000

In [20]:
sonia=Empleado("Sonia",25,"U00157639",10000000)

In [7]:
sonia.nombre

'Sonia'

In [4]:
sonia.__dict__#llama los datos y los pone en una variable

{'nombre': 'Sonia', 'edad': 25, 'ID': 'U00157639', 'salario': 10000000}

In [23]:
madaniel=Empleado("Pirulais",83,"U0015839",1000000)

In [24]:
if sonia.salario==madaniel.salario:
  print(f"el salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre}")
else:
  print(f"El salario de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

Vamos hacer una calculadora de fracciones

In [8]:
class Fraccion:
  #Atributos de clase
  num=0
  den=1
  def __int__(self,num=0,den=1):
    self.num=num
    self.den=den
  def multiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den) #Almacena el resultado #Num :almacena la multiplicación
    return r
  def imprime(self):
    print(self.num,"/",self.den)

In [9]:
##LOS ERRORES A CONTINUACIÓN NO SON MIOS-SON DE COLAB XD##
#Creando Objetos Tipo Fracción
a1=Fraccion(4,5)
a2=Fraccion(8,9)

TypeError: ignored

In [4]:
a1.imprime() #para imprimir
a2.imprime()

NameError: ignored

In [10]:
c=a1.multiplica(a2)
c.imprime()

NameError: ignored